:host ::ng-deep #mxgraph-diagram-container .geDialog {
  padding-left: 15px !important;
  padding-right: 15px !important;
}
:host ::ng-deep #mxgraph-diagram-container .geDialog table {
  left: unset !important;
}
